<div>
    <h5>Contador: {{ edad }}</h5>
    <br/>
    @if (18 > edad){
      <p>Eres menor de edad</p>
    } 
    @else{
      <p>Eres mayor de edad</p>
    }
    <ul>
      @for (letra of title; track letra) {
        <li>{{ letra }}</li>
      }
    </ul>
    <input type="text" [(ngModel)]="title" placeholder="Escribe un título" />
    <app-boton
    (edad)="getEdad(18)"
    (onClick)="suma()"
    [color]="'Blue'"
    [texto]="'Suma'">
  </app-boton>
  <app-boton
    (onClick)="resta()"
    [color]="'Red'"
    [texto]="'Resta'">
  </app-boton>
</div>

<ul>
  <li>
    <a href="home">Home</a>
    <a href="">Login</a>
  </li>
</ul>